.features {
    background-color: $light-grayish-blue;
    text-align: center;

    &-intro {
        h2 {
            font-size: clamp(1.75rem, 3.5vw, 2.25rem);
        }

        p {
            margin-top: 1.25rem;
            margin-bottom: 3.5rem;
        }
    }

    p {
        font-size: $font-sm;
    }

    .container {
        padding: clamp(4rem, 7vw, 6.875rem) 1.5rem;
        // padding: clamp(4rem, 7vw, 6.875rem) clamp(1.5rem, 7vw, 6.875rem);
    }

    &-info {
        flex-direction: column;
        gap: 2rem;
    }

    &-item {
        align-items: center;

        .features-icon {
            margin-bottom: .75rem;
        }

        .features-title {
            color: $dark-blue;
            font-weight: 300;
        }
    }
}

@include breakpoint-up(medium) {
    .features {

        &-intro {
            p {
                margin-bottom: 4.5rem;
            }
        }

        &-info {
            flex-flow: row wrap;
        }

        &-item {
            flex-basis: 47%;
        }
    }
}

@include breakpoint-up(large) {
    .features {
        text-align: left;

        &-intro {
            p {
                font-size: $font-med;
                width: 60ch;
                margin-top: 2rem;
            }
        }

        &-info {
            flex-flow: row nowrap;
        }

        &-item {
            align-items: start;

            .features-title {
                font-size: 1.375rem;
            }
        }
    }
}