.features {
    background-color: $light-grayish-blue;
    text-align: center;

    &__intro {
        margin-bottom: 3.5rem;

        h2 {
            margin-bottom: 1.25rem;
            font-size: clamp(1.75rem, 3.5vw, 2.25rem);
        }
    }

    p {
        font-size: $font-sm;
    }

    .container {
        padding: clamp(4rem, 7vw, 6.875rem) 1.5rem;
    }

    &__info {
        flex-direction: column;
        gap: 2rem;
    }

    &__item {
        align-items: center;

        .features__icon {
            margin-bottom: .75rem;
            width: 72px;
            height: 72px;
        }

        .features__title {
            color: $dark-blue;
            font-weight: 300;
        }
    }
}

@include breakpoint-up(medium) {
    .features {

        &__intro {
            p {
                font-size: 1rem;
                
            }
        }

        &__info {
            flex-flow: row wrap;
        }

        &__item {
            flex-basis: 47%;
        }
    }
}

@include breakpoint-up(large) {
    .features {
        text-align: left;

        &__intro {
            margin-bottom: 4.5rem;

            h2 {
                margin-bottom: 2rem;
            }

            p {
                font-size: $font-med;
                width: 60ch;
            }
        }

        &__info {
            flex-flow: row nowrap;
        }

        &__item {
            align-items: start;

            .features__icon {
                margin-bottom: 1.5rem;
            }

            .features__title {
                font-size: 1.375rem;
            }
        }
    }
}