.container {
    max-width: 67.5em;
    margin-inline: auto;
    // padding-inline: 2rem;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.hide-for-mobile {
    @include breakpoint-down(small) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none !important;
    }
}