.hero {
    background-color: $very-light-gray;

    &-image {
        position: relative;
        background-image: url(https://any2h.github.io/easybank-landing-page/images/bg-intro-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 17.5rem;

        &::before {
            content: '';
            position: absolute;
            background-image: url(https://any2h.github.io/easybank-landing-page/images/image-mockups.png);
            background-position: center bottom 11%;
            background-repeat: no-repeat;
            background-size: 93%;
            height: 100%;
            width: 100%;
        }
    }

    &-text {
        --flow-space: 1.5rem;
        text-align: center;
        padding: 2.25rem 1.5rem;

        h1 {
            font-size: 2.25rem;
        }

        button {
            margin-top: 2.5rem;
        }
    }
}

@include breakpoint-up(medium) {
    .hero {
        &-image {
            min-height: 28.125rem;
            background-position: center 65%;

            &::before {
                background-size: 55%;
            }
        }

        &-text {
            p {
                width: 42ch;
                margin-inline: auto;
            }
        }
    }
}

@include breakpoint-up(large) {
    .hero {
        .container {
            display: flex;
            min-height: 42.5rem;
        }

        &-image {
            order: 2;
            flex: 3;
            background-image: none;

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                background-image: url(https://any2h.github.io/easybank-landing-page/images/image-mockups.png);
                background-repeat: no-repeat;
                background-size: 93%;
                height: 124%;
                left: 22%;
                width: 120%;
                background-position: 80% 108%;

                // right phone cut
                // width: 125%;
                // background-position: 420% 81%;
            }

            &::after {
                content: '';
                position: absolute;
                background-image: url(https://any2h.github.io/easybank-landing-page/images/bg-intro-desktop.svg);
                width: 125%;
                height: 100%;
                background-size: 150%;
                background-position: 3% 69%;
            }
        }

        &-text {
            flex: 2;
            text-align: left;
            align-self: center;

            h1 {
                font-size: 3.25rem;
            }
        }
    }
}
