.hero {
    &-image {
        position: relative;
        background-image: url(/images/bg-intro-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 17.5rem;

        &::before {
            content: '';
            position: absolute;
            background-image: url(/images/image-mockups.png);
            background-position: center bottom 11%;
            background-repeat: no-repeat;
            background-size: 95%;
            height: 100%;
            width: 100%;
        }
    }
}