/* Buttons */
.cta-btn {
    cursor: pointer;
    font-size: $font-sm;
    font-weight: 700;
    padding: 0.75rem clamp(1.75rem, 3vw, 2rem);
    color: $white;
    border: 0;
    border-radius: 50px;
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: .6;
    }
}