/* Colors */
/* Font-sizes */
.container {
  max-width: 67.5em;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none !important;
  }
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-in {
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 0.3s ease-in-out forwards;
          animation: fade-out 0.3s ease-in-out forwards;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1, h2, h3 {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.75rem, 3.5vw, 2.25rem);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: hsl(233deg, 8%, 62%);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body.overflow-hidden {
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Buttons */
.cta-btn {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.75rem clamp(1.75rem, 3vw, 2rem);
  color: hsl(0deg, 0%, 100%);
  border: 0;
  border-radius: 50px;
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  transition: opacity 0.3s ease-in-out;
}
.cta-btn:hover {
  opacity: 0.6;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  font-size: 0.875rem;
  width: 100%;
}
.header nav.open .header-links {
  display: flex;
  gap: 1rem;
  position: absolute;
  z-index: 2;
  top: 5.5rem;
  left: 1.5rem;
  right: 1.5rem;
  flex-flow: column;
  align-items: center;
  padding: 1.75rem;
  color: hsl(233deg, 26%, 24%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
}
.header nav.open .mobile-nav-toggle > span {
  opacity: 1;
  transform: rotate(45deg);
}
.header nav.open .mobile-nav-toggle > span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header nav.open .mobile-nav-toggle > span:last-child {
  transform: rotate(-45deg);
}
.header-links {
  gap: 2rem;
}
.header-links > a {
  position: relative;
  color: hsl(233deg, 8%, 62%);
  transition: color 0.3s ease-in-out;
}
@media (max-width: 63.9375em) {
  .header-links > a {
    color: hsl(233deg, 26%, 24%);
    font-size: 1.125rem;
  }
}
.header-links > a::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -31.5px;
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.header-links > a:hover {
  color: hsl(233deg, 26%, 24%);
}
.header-links > a:hover::before {
  opacity: 1;
}
.header .mobile-nav-toggle {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.header .mobile-nav-toggle > span {
  width: 1.5rem;
  height: 2px;
  background-color: hsl(233deg, 26%, 24%);
  transform-origin: 3px 1px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.header .overlay {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  inset: 3.75rem 0 0;
  background-image: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}

.hero {
  background-color: hsl(0deg, 0%, 98%);
}
.hero-image {
  position: relative;
  background-image: url(/images/bg-intro-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.5rem;
}
.hero-image::before {
  content: "";
  position: absolute;
  background-image: url(/images/image-mockups.png);
  background-position: center bottom 11%;
  background-repeat: no-repeat;
  background-size: 93%;
  height: 100%;
  width: 100%;
}
.hero-text {
  --flow-space: 1.5rem;
  text-align: center;
  padding: 2.25rem 1.5rem;
}
.hero-text h1 {
  font-size: 2.25rem;
}
.hero-text button {
  margin-top: 2.5rem;
}

@media (min-width: 40em) {
  .hero-image {
    min-height: 28.125rem;
    background-position: center 65%;
  }
  .hero-image::before {
    background-size: 55%;
  }
  .hero-text p {
    width: 42ch;
    margin-inline: auto;
  }
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    min-height: 42.5rem;
  }
  .hero-image {
    order: 2;
    flex: 3;
    background-image: none;
  }
  .hero-image::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(/images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: 95%;
    height: 125%;
    left: 22%;
    width: 120%;
    background-position: 80% 101%;
  }
  .hero-image::after {
    content: "";
    position: absolute;
    background-image: url(/images/bg-intro-desktop.svg);
    width: 125%;
    height: 100%;
    background-size: 150%;
    background-position: 3% 69%;
  }
  .hero-text {
    flex: 2;
    text-align: left;
    align-self: center;
  }
  .hero-text h1 {
    font-size: 3.25rem;
  }
}
.features {
  background-color: hsl(220deg, 16%, 96%);
  text-align: center;
}
.features-intro {
  margin-bottom: 3.5rem;
}
.features-intro h2 {
  margin-bottom: 1.25rem;
  font-size: clamp(1.75rem, 3.5vw, 2.25rem);
}
.features p {
  font-size: 0.875rem;
}
.features .container {
  padding: clamp(4rem, 7vw, 6.875rem) 1.5rem;
}
.features-info {
  flex-direction: column;
  gap: 2rem;
}
.features-item {
  align-items: center;
}
.features-item .features-icon {
  margin-bottom: 0.75rem;
}
.features-item .features-title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
}

@media (min-width: 40em) {
  .features-intro p {
    font-size: 1rem;
  }
  .features-info {
    flex-flow: row wrap;
  }
  .features-item {
    flex-basis: 47%;
  }
}
@media (min-width: 64em) {
  .features {
    text-align: left;
  }
  .features-intro {
    margin-bottom: 4.5rem;
  }
  .features-intro h2 {
    margin-bottom: 2rem;
  }
  .features-intro p {
    font-size: 1.125rem;
    width: 60ch;
  }
  .features-info {
    flex-flow: row nowrap;
  }
  .features-item {
    align-items: start;
  }
  .features-item .features-icon {
    margin-bottom: 1.5rem;
  }
  .features-item .features-title {
    font-size: 1.375rem;
  }
}
.articles {
  background-color: hsl(0deg, 0%, 98%);
  line-height: 1.3;
}
.articles h2 {
  text-align: center;
  margin-bottom: 1.75rem;
}
@media (min-width: 64em) {
  .articles h2 {
    text-align: left;
    margin-bottom: 3.25rem;
  }
}
.articles .container {
  padding: clamp(4rem, 7vw, 6rem) 1.5rem;
}
.articles-wrapper {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 40em) {
  .articles-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .articles-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
.articles-item {
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px lightgray;
  transition: transform 0.15s ease-in-out;
}
.articles-item:hover {
  transform: scale(1.05);
}
.articles-item .articles-image {
  height: 12rem;
  background-position: center;
  background-size: cover;
}
.articles-item .articles-text {
  --flow-space: .75rem;
  padding: 1.5rem;
}
.articles-item .articles-text .articles-author {
  font-size: 0.625rem;
}
.articles-item .articles-text .articles-title {
  font-size: 1rem;
  color: hsl(233deg, 26%, 24%);
}
.articles-item .articles-text p {
  font-size: 0.875rem;
}/*# sourceMappingURL=styles.css.map */